@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

:root {
	--color-bg: rgb(42, 7, 111);
	--color-bg-2: rgb(113, 38, 236);
	--color-bg-3: rgb(95, 21, 137);
	--color-bg-highlight: rgb(205, 79, 225);
	--color-shadow: rgb(25, 10, 56);
	--color-text: rgb(233, 201, 250);
	--color-text-2: rgb(188, 181, 192);
}

::selection {
	background-color: var(--color-bg-highlight);
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
}

h1 {
	width: 100%;
	font-weight: bold;
	font-size: xx-large;

	padding-top: 2cap;
	margin-bottom: 0.5em;

	@media (max-width: 1000px) {
		padding-left: 0.25em;
	}
}

h2 {
	font-weight: bold;
	font-size: x-large;

	padding-top: 1cap;
	margin-bottom: 0.5em;

	@media (max-width: 1000px) {
		padding-left: 0.5em;
	}
}

h3 {
	padding-left: 0.1em;

	@media (max-width: 1000px) {
		padding-left: 0.3em;
	}

	text-transform: capitalize;
	font-weight: bold;
	font-size: x-large;
}

h4 {
	padding-left: 0.15em;

	@media (max-width: 1000px) {
		padding-left: 0.5em;
	}

	font-weight: bold;
	font-size: medium;
	color: var(--color-text-2);
}

p {
	padding: 0.2em;
	font-size: large;
	text-wrap-style: balance;
	max-width: calc(100vw - 0.5em);

	@media (max-width: 1000px) {
		font-size: larger;
		padding: 0.5em;
	}
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.link-button {
	background-color: var(--color-bg-2);
	border-radius: 5px;
	padding: 5px;
	height: 32px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	font-weight: bold;
	padding-right: 10px;
	transition: 0.2s;
	margin: 0.25em;

	@media (max-width: 800px) {
		margin-left: 0.5em;
		height: 48px;
		align-items: center;
	}
}

.link-button:hover {
	background-color: var(--color-bg-3);
}

.shadow {
	box-shadow: 0 0 10px var(--color-shadow);
}

.hover {
	transition: 0.2s;
	background-color: var(--color-bg-2);
}

.hover:hover {
	background-color: var(--color-bg-3);
}

.error {
	background-color: rgb(194, 56, 102);
	color: white;
	padding: 15px;
	border-radius: 5px;
	margin: 5px;
	font-size: larger;
	font-weight: normal;
}

.error>a {
	font-size: large;
	text-decoration: dotted underline;
}

.error-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.small-button {
	border: 2px solid var(--color-bg);
	padding: 5px;
	border-radius: 8px;
}

blockquote {
	border-left: 5px solid var(--color-text-2);
	border-radius: 5px;
	padding-left: 1em;
	margin: 5px;
	font-style: italic;
}

ul>li {
	list-style: circle outside;
	margin-left: 20px;
}

ol>li {
	list-style: decimal outside;
	margin-left: 20px;
}

input {
	width: 100%;
	background-color: var(--color-bg);
	border: 2px solid var(--color-bg-2);
	border-radius: 5px;
}

::placeholder {
	color: rgb(200, 180, 200);
}