:root {
	--color-bg: rgb(42, 7, 111);
	--color-bg-2: rgb(113, 38, 236);
	--color-bg-3: rgb(95, 21, 137);
	--color-bg-highlight: rgb(205, 79, 225);
	--color-shadow: rgb(25, 10, 56);
	--color-text: rgb(233, 201, 250);
	--color-text-2: rgb(188, 181, 192);
}

::selection {
	background-color: var(--color-bg-highlight);
}

body {
	background-color: var(--color-bg);
	color: white;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
	overflow-y: hidden;
	font-size: 17px;
}

input {
	box-sizing: border-box;

	font-size: 17px;

	padding: 12px;
	width: calc(100%);

	background-color: var(--color-bg);
	border: 2px solid var(--color-bg-2);
	border-radius: 10px;
	caret-color: var(--color-text);
	color: var(--color-text);
}

.link-button {
	box-sizing: border-box;
	font-size: 17px;
	text-decoration: none;
	padding: 8px;
	border-radius: 8px;

	box-shadow: 0 0 10px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	gap: 10px;

	@media (max-width: 1000px) {
		width: calc(100%);
	}
}

.button {
	background-color: black;
	color: white;
	border: 1px solid black;
}

.button-2 {
	background-color: white;
	color: black;
	border: 1px solid black;
}

a {
	text-decoration: none;
	color: unset;
}

hr {
	color: white;
	border: 1px solid white;
}

.page-section {
	padding: 20px;

	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	margin-bottom: 50px;
	box-sizing: border-box;

	border: 2px solid rgba(50, 50, 50, 0.5);

	@media (max-width: 1000px) {
		margin-bottom: 100px;
	}
}

.shadow {
	box-shadow: 0 0 10px var(--color-shadow);
}

@font-face {
	font-family: "Akira Expanded Demo";
	src: url("/assets/Akira Expanded Demo.otf");
}

.heading {
	font-family: "Akira Expanded Demo";
	font-weight: normal;
}

.hover {
	transition: 0.2s;
	background-color: var(--color-bg-2);
}

.hover:hover {
	background-color: var(--color-bg);
}

.error {
	background-color: rgb(194, 56, 102);
	color: white;
	padding: 15px;
	border-radius: 5px;
	margin: 5px;
	font-size: larger;
	font-weight: normal;
}

.error>a {
	font-size: large;
	text-decoration: dotted underline;
}

.error-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.small-button {
	border: 2px solid var(--color-bg);
	padding: 5px;
	border-radius: 8px;
	color: white;
}

blockquote {
	border-left: 5px solid var(--color-text-2);
	border-radius: 5px;
	padding-left: 1em;
	margin: 5px;
	font-style: italic;
}

ul>li {
	list-style: circle outside;
	margin-left: 20px;
}

ol>li {
	list-style: decimal outside;
	margin-left: 20px;
}

::placeholder {
	color: rgb(200, 180, 200);
}

h1 {
	font-family: "Akira Expanded Demo";
	font-weight: normal;
}

h2 {
	font-family: "Akira Expanded Demo";
	font-weight: normal;
}

h3 {
	font-family: "Akira Expanded Demo";
	font-weight: normal;
}